<form id="container-form" [formGroup]="registerForm">
  <header>
    <div class="container-title">
      <h2>Service Register:</h2>
      <span>Please enter your information</span>
    </div>
  </header>

  <aside>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Registration number" formControlName="registrationNumber">
      </mat-form-field>
    </p>
    <h4>Start date and time:</h4>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Date Start</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="dateInit">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </p>
    <div id="title-one">
      <h3>Military Tine:</h3>
    </div>

    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="HH:MM" formControlName="hoursInit">
      </mat-form-field>
    </p>
  </aside>

  <main>
    <p id="container-radio-button">
      <mat-radio-group aria-label="Select an option" formControlName="typeService">
        <mat-radio-button value="1">Servicio de Emergencia</mat-radio-button>
        <mat-radio-button value="2">Revision Técnica</mat-radio-button>
      </mat-radio-group>
    </p>
    <h4>Final date and time:</h4>
    <p>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Date End</mat-label>
        <input matInput [matDatepicker]="picker2" formControlName="dateEnd">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
    </p>
    <div id="title-two">
      <h3>Military Tine:</h3>
    </div>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="HH:MM" formControlName="hoursEnd">
      </mat-form-field>
    </p>

  </main>

  <footer>
    <button mat-raised-button color="accent" type="submit" (click)="sendInformation(registerForm.value)">Send</button>
  </footer>
</form>
