body {
  overflow: auto;
}

.container-title {
  height: 100px;
  width: 90%;
  margin: auto;
}

span {
  color: gray;
}

h2 {
  color: rgb(51, 16, 107);
  margin-top: 25px;
}

h4 {
  color: rgb(51, 16, 107);
  text-align: center;
  padding-left: 10px;
  margin-top: 10px;
}

#container-form {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  overflow: hidden;
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "header  header"
    "aside  main"
    "footer  footer";
  grid-template-rows: 80px 350px 40px;
  grid-template-columns: repeat(2, 1fr);
}

#container-form>header {
  grid-area: header;
}

#container-form>aside {
  grid-area: aside;
  height: auto;
  padding: 20px 10px 10px 50%;
}

#container-form>main {
  grid-area: main;
  height: auto;
  padding: 20px 50% 10px 10px;
}

#container-form>footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  #container-form {
    grid-template-areas: "header "
      "aside "
      "main"
      "footer";
    grid-template-rows: 80px 300px 300px 40px;
    grid-template-columns: 1fr;
  }

  #container-form>aside {
    padding: 10px;
  }

  #container-form>main {
    padding: 10px;
  }

}

.form-control-lg {
  border: 1px solid gray;
  border: 1px solid gray;
  margin-top: 5px;
  text-align: center;
  
}
