<form id="container-form" [formGroup]="creditForm">
  <header>
    <div class="container-title">
      <h2>Registration:</h2>
      <span>Please enter your information</span>
    </div>
  </header>

  <aside>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="Registration number" formControlName="registrationNumber">
      </mat-form-field>
    </p>
    <h4>Start date and time:</h4>
    <p>
      <mat-form-field appearance="fill">
        <mat-label>Date Start</mat-label>
        <input matInput [matDatepicker]="dp" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker #dp></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="HH:MM" formControlName="hours">
      </mat-form-field>
    </p>
  </aside>

  <main>
    <p id="container-radio-button">
      <mat-radio-group aria-label="Select an option">
        <mat-radio-button value="1">Servicio de Emergencia</mat-radio-button>
        <mat-radio-button value="2">Revision Técnica</mat-radio-button>
      </mat-radio-group>
    </p>
    <h4>Final date and time:</h4>
    <p>
      <mat-form-field color="accent" appearance="fill">
        <mat-label>Date End</mat-label>
        <input matInput [matDatepicker]="picker2">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 color="primary"></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field appearance="legacy">
        <input matInput placeholder="HH:MM" formControlName="hours">
      </mat-form-field>
    </p>

  </main>

  <footer>
      <button mat-raised-button color="accent" (click)="approbalCredit()" >Send</button>
      <div *ngIf="showModal">
        <h1 mat-dialog-title>your credit score</h1>
        <div mat-dialog-content>This dialog showcases the title, close, content and actions elements.</div>
        <div mat-dialog-actions>
          <button mat-button mat-dialog-close>Close</button>
      </div>

    </div>

  </footer>
</form>
