body {
  overflow: auto;
}

.container-title {
  height: 100px;
  width: 90%;
  margin: auto;
  margin-top: 50px;
}

span {
  color: gray;
}

h2 {
  color: rgb(51, 16, 107);
  margin-top: 36px;
}

h4 {
  color: rgb(51, 16, 107);
  text-align: center;
  padding-left: 10px;
  margin-top: 10px;
}

#container-form {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
  overflow: hidden;
  margin: 0;
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: "header  header"
    "aside  main"
    "footer  footer";
  grid-template-rows: 90px 350px 60px;
  grid-template-columns: repeat(2, 1fr);
}

#container-form>header {
  grid-area: header;
}

#container-form>aside {
  grid-area: aside;
  height: auto;
  padding: 20px 10px 10px 50%;
}

#container-form>main {
  grid-area: main;
  height: auto;
  padding: 20px 50% 10px 10px;
}

#container-form>footer {
  grid-area: footer;
}

@media (max-width: 1024px) {
  #container-form {
    grid-template-areas: "header "
      "aside "
      "main"
      "footer";
    grid-template-rows: 80px 320px 320px 60px;
    grid-template-columns: 1fr;
  }

  #container-form>aside {
    padding: 10px;
  }

  #container-form>main {
    padding: 10px;
  }
}

.form-control-lg {
  border: 1px solid gray;
  border: 1px solid gray;
  margin-top: 5px;
  text-align: center;
  
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 14px;
  }

  #container-radio-button {
    height: 66px;
    padding-top: 30px;
    box-sizing: border-box;
    margin-left: -25px;
    color: gray;
    font-size: 14px;
  }
  #title-one{
    display: flex;
    justify-content: center;
    font-size: 14px;
    height: 15px;
    color: rgb(51, 16, 107);
    margin: 25px;
  }
  #title-two{
    @extend #title-one;
  }