#container-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    position: relative;
    h2 {
        position: absolute;
        top: 40px;
        color: rgb(20, 88, 177);
    }
    

}

