<section class="menu">

  <button
    mat-button mat-raised-button 
    color="primary" 
    [routerLink]="['home']"
    routerLinkActive="active">Home
  </button>

  <button 
    mat-button 
    mat-raised-button 
    color="primary" 
    [routerLink]="['registration']"
    routerLinkActive="active">Register Service
  </button>

  <button mat-button 
    mat-raised-button 
    color="primary" 
    [routerLink]="['history']"
    routerLinkActive="active">Consultation Hours
  </button>

</section>
