#container-value{
    width: 300px;
    margin: auto;
    text-align: center;
    padding: 20px 0px;
    color: white;
    font-weight: 300;

    h3{
        margin: 0 0 5px;
    }
    .value{
        font-size: 32px;
        font-weight: 700;
    }
}

