<div class="container-consult">
  <form id="container-form" [formGroup]="creditForm">
    <header>
      <div class="container-title">
        <h2>Working hours calculation module:</h2>
        <span>Please enter technician id and week number</span>
      </div>
    </header>
  
    <aside>
      <div class="container-input">
        <mat-form-field appearance="legacy">
          <input matInput placeholder="Registration number" formControlName="registrationNumber">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <input matInput placeholder="Week Number" formControlName="weekNumber">
        </mat-form-field>
    </div>
      </aside>
    <footer>
        <button mat-raised-button color="accent" >Send</button>
    </footer>
  </form>
  
  
</div>
