<div class="container-consult">
  <form id="container-form" [formGroup]="searchWeek">
    <header>
      <div class="container-title">
        <h2>Working hours calculation module:</h2>
        <span>Please enter technician id and week number</span>
      </div>
    </header>

    <aside>
      <div class="container-input">
        <mat-form-field appearance="legacy">
          <input matInput placeholder="Registration number" formControlName="registrationNumber">
        </mat-form-field>
        <mat-form-field appearance="legacy">
          <input matInput placeholder="Week Number" formControlName="weekNumber">
        </mat-form-field>
    </div>
      </aside>
    <footer>
        <button mat-raised-button color="accent" type="submit" (click)="consult(searchWeek.value)" >Search</button>
    </footer>
<div class="div-prueba">
  <div></div>
  <div></div>
  <div></div>

</div>
    <div id="consultDiv">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container matColumnDef="Total Hours Worked">
          <th mat-header-cell *matHeaderCellDef> Total Hours Worked </th>
          <td mat-cell *matCellDef="let element"> {{element.TotalHoursWorked}} </td>
        </ng-container>

        <ng-container matColumnDef="Total Extras">
          <th mat-header-cell *matHeaderCellDef> Total Extras </th>
          <td mat-cell *matCellDef="let element"> {{element.TotalExtras}} </td>
        </ng-container>

        <ng-container matColumnDef="Nightly Extras">
          <th mat-header-cell *matHeaderCellDef> Nightly Extras </th>
          <td mat-cell *matCellDef="let element"> {{element.NightlyExtra}} </td>
        </ng-container>

        <ng-container matColumnDef="Sunday Hours">
          <th mat-header-cell *matHeaderCellDef> Sunday Hours </th>
          <td mat-cell *matCellDef="let element"> {{element.SundayHours}} </td>
        </ng-container>

        <ng-container matColumnDef="Sunday nightly Extras">
          <th mat-header-cell *matHeaderCellDef> Sunday nightly Extras </th>
          <td mat-cell *matCellDef="let element"> {{element.SundayNightlyExtras}} </td>
        </ng-container>

        <ng-container matColumnDef="Normal Hours">
          <th mat-header-cell *matHeaderCellDef> Normal Hours </th>
          <td mat-cell *matCellDef="let element"> {{element.NormalHours}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="conatiner-data">
          <div class="div-data">
            <h5>Number Technical:</h5>
            <label >{{idTechnical}}</label>
          </div>
          <div  class="div-data">
            <h5>Date Init:</h5>
            <label >{{dateInit}}</label>
          </div>
          <div  class="div-data">
            <h5>Date End:</h5>
            <label >{{dateEnd}}</label>
          </div>
        </div>
        </div>

  </form>


</div>
