.container-consult {
  display: flex;
  justify-content: center;
  align-items: center;

  #container-form {
    width: 800px;
    margin-top: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  span {
    padding-left: 26%;
    color: gray;
    margin: 30px;
    text-align: center;
  }

  h2 {
    text-align: center;
    color: rgb(51, 16, 107);
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .container-input {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  footer {
    text-align: center;
  }

  .container-title {
    height: 85px;
    width: 100%;
    margin: 10px;
  }
}

#consultDiv {
  display: none;
  float: left;
  clear: both;
  border: 2px solid #e6e6e6;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
  height: 200px;
  overflow: auto;
  font-family: helvetica;
  font-size: 14px;
  text-align: justify;
}
table {
  width: 100%;
}
.conatiner-data {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;

  .div-data {
    align-items: center;
  }

  label {
    align-content: center;
  }
}

td{
  text-align: center
}

th.mat-header-cell {
  text-align: center;
}
.div-prueba{


  div {

  }
}
